*{
    font-family: 'MyriadProSemibold' !important;
}
.contenedor-page{
    padding: 20px 30px;
}
.titulo{
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
}
.A_pagar_header{
    color: #2b85cd;
    text-align: right;
    font-size: 70%;
    font-style: italic;
}
.A_pagar{
    color:#FE3A00;
    font-size: x-large;
    text-align: left;
}
.total{
    border-bottom: 1px solid var(--ion-color-azul-oscuro);
    margin-top: 2px;
    padding-bottom: 15px;
    box-shadow: 0 4px 6px -6px #c2c2c2;
}
.datos{
    color: #FE3A00;
    font-size: smaller;
    padding-left: 10px;
    margin: 20px 0px;
    font-weight: lighter;
    font-style:italic;
}
.confirmar{
    color: grey;
    font-size: smaller;
    padding-left: 20px;
    margin: 20px 0px;
    font-weight: lighter;
    font-style:italic;
}
.campos{
    display: table;
    margin: 5px auto;
}
.campos > ion-label{
    display: table-cell;
}
.left {
    text-align: right;
    font-size: 3vw;
    color:gray;
    width: 20rem;
    padding-right:  10px;
}
.center{
    text-align: center;
    font-size: 3vw;
    color:gray;
    width: 20rem;
    padding-right:  10px;
}

.right {
    text-align: left;
    width: 50%;
    font-size: 4vw;
    color:var(--ion-color-azul-oscuro)
}
.titulo_atras{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.atras{
    height: 25px;
}
.button-content{
    display: flex;
    justify-content: flex-end;
    bottom: 5%;
    left: 0%;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0px 30px;
}
ion-button{
    font-size: 2.8vw;
    line-height: 0px;
    width: 40%;
    height: 2.2rem;
}
.btn-registro{
    --background: var(--ion-color-naranja-oscuro);
}
.registro{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
