<style>

</style>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="datos($event,null)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="contenedor-page">
    <ion-label class="titulo">Puntos</ion-label>
    <br>
    <div class="franja">
      <ion-tab-button class="col_home" tab="catalogo">
        <img src="../assets/img/catalogo05.png" width="40" height="40">
        Catalogo
      </ion-tab-button>
      <ion-tab-button class="col_home" tab="puntos">
        <img src="../assets/img/mispuntos044.png" width="40" height="40">
        <span style="color:yellow">Mis Puntos</span>
      </ion-tab-button>
      <ion-tab-button class="col_home" tab="premios">
        <img src="../assets/img/mispremios066.png" width="40" height="40">
        Mis Premios
      </ion-tab-button>
    </div>
    <br>
    <div class="contenedor azul">
      <!--<ion-label class="titulo">Consumos para sumar puntos</ion-label>
      <br>-->
      <div class="division">
        <div>
          <ion-label>Saldo disponible:</ion-label>
        </div>
        <div class="columna">
          <ion-label>Puntos Acumulados:</ion-label>
        </div>
      </div>
      <div class="division2">
        <ion-label class="valores"> ${{valorTarjeta}} </ion-label>
        <ion-label class="valores"> = </ion-label>
        <div class="division3">
          <img src="../assets/img/puntos033.png" width="40" height="40">
          <ion-label class="valores">  {{puntos}} </ion-label>
        </div>
      </div>
      <div class="btns2">
        <button class="espacio" ion-button size="large" (click)="monto()">
          Canjear por tarjeta de regalo
        </button>
      </div>
      <ion-label>{{puntos}} puntos equivalen a ${{valorTarjeta}}</ion-label>
    </div>

    <div class="contenedor">

    </div>


  </div>
  <ion-infinite-scroll *ngIf="flag==true" threshold="100px" (ionInfinite)="cargandoSiguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>