<style>

</style>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="datos($event,null)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="contenedor-page">
    <ion-label class="titulo">Premios</ion-label>
    <br>
    <div class="contenedor azul">
      <ion-label>Saldo disponible: ${{valorTarjeta}} = Puntos: {{puntos}}</ion-label>
      <br>
      <ion-label>{{puntos}} puntos equivalen a ${{valorTarjeta}}</ion-label>
      <div class="btns">
        <button ion-button size="large" (click)="cupones()">
          Canjear por tarjeta de regalo
        </button>
      </div>
    </div>

    <div class="contenedor">
      <div class="contenedor-filtro">
        <div class="contenedor-selector">
          <ion-label class="subtitulo">Filtrar por:</ion-label>
          <select [(ngModel)]="opcion" class="selector" (change)="showLoading3()">
            <option value="vendidos">Más vendidos</option>
            <option value="menor">Precio: más bajo</option>
            <option value="mayor">Precio: más alto</option>
            <option value="ascendente">A a Z</option>
            <option value="descendente">Z a A</option>
          </select>
        </div>
      </div>
      <div>
        <ion-label class="titulo">Catalogo de Premios</ion-label>
        <div class="contener-producto" *ngFor="let premio of premios">
          <div class="available div-producto" *ngIf="premio.cantidad <= 0">Agotado</div>
          <div class="div-producto" (onload)="cargarNum(premio.nombre)">
            <div class="contener-columnaI">
              <div class="producto">
                <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{premio.img}}">
              </div>
              <h6 class="detalle" (click)=detalle(premio.img,premio.nombre,premio.descripcion,premio.puntos)>
                Ver detalle</h6>
            </div>
            <div class="contener-columna">
              <div class="nombre">
                <h6 class="nombre-producto" name="nombre">{{premio.nombre}}</h6>
              </div>

            </div>
            <div class="contener-columna-centrar">
              <div class="precio">
                <h4 name="precio">PTS {{premio.puntos}}</h4>
              </div>
              <div class="favorito">

              </div>
              <div class="carrito">
                <img src="../assets/img/carrito_activo.png" height="23" (click)=carrito(productos.id_unico)>
              </div>
            </div>
          </div>
        </div>

        <ion-label class="titulo">Mis Premios</ion-label>
        <br>
        <ion-label class="titulo">Por Utilizar</ion-label>

        <div class="contener-producto" *ngFor="let premio of misPremios">
          <div class="available div-producto" *ngIf="premio.cantidad <= 0">Agotado</div>
          <div class="div-producto" (onload)="cargarNum(premio.nombre)">
            <div class="contener-columnaI">
              <div class="producto">
                <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{premio.img}}">
              </div>
              <h6 class="detalle" (click)=detalle(premio.img,premio.nombre,premio.descripcion,premio.puntos)>
                Ver detalle</h6>
            </div>
            <div class="contener-columna">
              <div class="nombre">
                <h6 class="nombre-producto" name="nombre">{{premio.nombre}}</h6>
              </div>

            </div>
            <div class="contener-columna-centrar">
              <div class="precio">
                <h4 name="precio">PTS {{premio.puntos}}</h4>
              </div>
              <div class="favorito">

              </div>
              <div class="carrito">
                <img src="../assets/img/carrito_activo.png" height="23" (click)=carrito(productos.id_unico)>
              </div>
            </div>
          </div>
        </div>

        <ion-label class="titulo">Utilizados</ion-label>

        <div class="contener-producto" *ngFor="let premio of historial">
          <div class="available div-producto" *ngIf="premio.cantidad <= 0">Agotado</div>
          <div class="div-producto" (onload)="cargarNum(premio.nombre)">
            <div class="contener-columnaI">
              <div class="producto">
                <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{premio.img}}">
              </div>
              <h6 class="detalle" (click)=detalle(premio.img,premio.nombre,premio.descripcion,premio.puntos)>
                Ver detalle</h6>
            </div>
            <div class="contener-columna">
              <div class="nombre">
                <h6 class="nombre-producto" name="nombre">{{premio.nombre}}</h6>
              </div>

            </div>
            <div class="contener-columna-centrar">
              <div class="precio">
                <h4 name="precio">PTS {{premio.puntos}}</h4>
              </div>
              <div class="favorito">

              </div>
              <div class="carrito">
                <img src="../assets/img/carrito_activo.png" height="23" (click)=carrito(productos.id_unico)>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  <ion-infinite-scroll *ngIf="flag==true" threshold="100px" (ionInfinite)="cargandoSiguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>