.btn-salir img{
    height: 0.6rem;
    width: 0.6rem;
}


.btn-salir{
    text-align: right !important;
    margin: 20px 20px 10px 10px;
}

.img-correcto{

    margin: 2rem 0px 20px 0px;
    img{
        height: 5rem;
    }
}
.titulo{
    padding-top: 0px;
    //color:#0F195E !important;
    font-size: 1.3rem;
}

.mensaje{
    margin: 25px 20px 20px 20px;
    color:#87868A !important;
    font-size: 0.9rem;
}