.footer {
    --ion-background-color: linear-gradient(to right, #0F195E, #2153FF) !important;
    --border:0px;
}

.active-item{
    background-image: url('/assets/img/fondo.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    .perfil ion-img, 
    .notifications ion-img,
    .home ion-img{
        margin-top: 10px;
        width: 50%;
        height: 50%;
    }
    .valor{
        right: 8vw;
        bottom: 2.5vh;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        font-size: smaller;
    }
}

ion-tab-button {
    background:none;
}

.perfil, .notifications,.home{
 text-align: center;
 padding: 10% 0% 10% 0%;
 display:flex;
 align-items:center;
 ion-img{
    margin: auto;
    width: 60%;
    height: 60%;
 }
}

.perfil{
    border-radius: 100%;
}

.valor{
    position:absolute;  
    color:white;
    right: 5vw;
    bottom: 1vh;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #FE3A00;
    text-align: center;
}

.valor_c{
    position: absolute;
    color: white;
    right: 3vw;
    bottom: 0.6rem;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: var(--ion-color-azul-oscuro);
    text-align: center;
    margin: 5px;
}

ion-menu-button{
    --color: white;
}

.header{
    height: 5rem!important;
    background-color: var(--ion-color-naranja-oscuro);
    text-align: center;
}

.headerR >img{
    margin: 1rem 0rem 0rem 0rem;
    height: 3rem !important;
}

.carrito_logo{
    text-align: center;
    display:flex;
    align-items:center;
    ion-img{
       margin: auto;
       height: 2rem;
    }
   }