
<ion-content>
    <div class="contenedor-page">
        <div class="contenedor-titulo">
            <ion-label class="titulo">Contáctanos</ion-label>
          </div>
        <div class="social-media">
            <div class="red" *ngFor="let contacto of contactos">
                <a [href]="contacto.link">
                    <img [src]='"http://cabutoshop.pythonanywhere.com" + contacto.imagen'>
                </a>
            </div>
        </div>
        <div class="empresa">
            <div class="info">
                <div class="left">
                    <img src='../assets/img/llamadas.png'>
                </div>
                <a class="right" href="tel:0988277349">
                    <ion-label>Teléfono: 0988277349</ion-label>
                </a>
            </div>  
            <div class="info">
                <div class="left">
                    <img class="ubicacion" src='../assets/img/ubicacion.png'>
                </div>
                <a class="right" href="https://www.google.com/maps/place/Minimarket+Cabuto%60s/@-2.2309328,-79.8950987,17z/data=!3m1!4b1!4m5!3m4!1s0x902d6fb45ccefaf3:0x84e936facdd25d88!8m2!3d-2.2309382!4d-79.89291">
                    <ion-label>Dirección: Av. Ernesto Albán, a 2 cuadras del Deprati Sur</ion-label>
                </a>
            </div>  
            <div #mapaUbicacion class="mapa">

            </div>  
        </div>
    </div>
    <div class="desarrollado">
        Desarrollado por
        <a href="https://www.instagram.com/ingenieriadesoftware/">
            <img src='../assets/img/iS_negro-02.png'>
        </a>
    </div>
</ion-content>
