<ion-content>
  <div class="contenedor-page">
    <ion-label class="titulo">Tarjetas</ion-label>
    <div class="contener-tarjeta" *ngFor="let tarjeta of tarjetas">
      <div class="div-tarjeta" >
        <div class="borrar_content"><img src="../assets/img/borrar.png" class="borrar"
          (click)="eliminar(tarjeta.token)"></div>
        <div class="contener-columnaI">
          <img *ngIf="tarjeta.type === 'vi'" src="../assets/img/visa.png">
          <img *ngIf="tarjeta.type === 'mc'" src="../assets/img/mastercard.svg">
          <img *ngIf="tarjeta.type === 'ax'" src="../assets/img/amex.svg">
          <img *ngIf="tarjeta.type === 'di'" src="../assets/img/diners.svg">
          <img *ngIf="tarjeta.type === 'dc'" src="../assets/img/discover.svg">
          <img *ngIf="tarjeta.type === 'ms'" src="../assets/img/maestro.svg">
          <img *ngIf="tarjeta.type === 'cs'" src="../assets/img/credisensa.png">
          <img *ngIf="tarjeta.type === 'so'" src="../assets/img/alia.svg">
          <img *ngIf="tarjeta.type === 'up'" src="../assets/img/unionpay.png">
        </div>
        <div class="contener-columna">
          <h6 class="nombre-tarjeta">
            <span *ngIf="tarjeta.type === 'vi'"> Visa</span>
            <span *ngIf="tarjeta.type === 'mc'">Mastercard</span>
            <span *ngIf="tarjeta.type === 'ax'">American Express</span>
            <span *ngIf="tarjeta.type === 'di'">Diners</span>
            <span *ngIf="tarjeta.type === 'dc'">Discover</span>
            <span *ngIf="tarjeta.type === 'ms'">Maestro</span>
            <span *ngIf="tarjeta.type === 'cs'">Credisensa</span>
            <span *ngIf="tarjeta.type === 'so'">Solidario</span>
            <span *ngIf="tarjeta.type === 'up'">Union Pay</span>
            ****{{tarjeta.number}}
          </h6>
          <p class="direccion-tarjeta">Expira {{tarjeta.expiry_month | number: '2.0-0'}}/{{tarjeta.expiry_year}}</p>
        </div>
      </div>
    </div>
    <div class="button-content">
      <div class="btn_regresar"> <img src="../assets/img/agregar_2.png" class="atras" (click)="agregar()"> </div>
    </div>
  </div>  
</ion-content>
