
<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
    </div>
    <div class="contenedor-titulo">
      <ion-label class="titulo">¿A quién le enviarás un regalo?</ion-label>
    </div>
    
    <form #form="ngForm" (ngSubmit)="canjear(form)">
      <div class="form">
        <ion-label>(Código, Correo o Nombre)</ion-label>
        <br>
        <ion-item>
        <input list="brow" minlength="3" id="1" name="correo" [(ngModel)]="correo" required style="width: 100%; background-color: rgb(255, 255, 255);" (keyup)="lista($event)">
          
          <datalist id="brow" name="brow" required>

            <div class="contenedor-tarjetas" *ngFor="let usuario of usuarios">
              <option class="input" value={{usuario.correo}} name="producto">{{usuario.codigo_unico}} / {{usuario.nombre}} {{usuario.apellido}}
                / {{usuario.correo}}</option>
            </div>
          </datalist>
        </ion-item>

          <!--<ion-input id="1" name="correo" type="text" [(ngModel)]="correo" required></ion-input>-->
        
      </div>
      <div class="button-content">
        <ion-button class="btn-registro" size="large" type="submit">
          <p class="registro">Aceptar</p>
        </ion-button>
      </div>
    </form>
    
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="regalito">
    <img src="../assets/img/REGALO.png">
  </div>


  <br>
  <div class="mensaje">
    <p>
      ¡AHORA EL AMOR ES CON HECHOS Y NO SOLO PALABRAS!
    </p>
  </div>
</ion-content> 