<style>

</style>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="datos($event,null)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="contenedor-page">
    <ion-label class="titulo">Catalogo de Premios</ion-label>
    <br>
    <div class="franja">
      <ion-tab-button class="col_home" tab="catalogo">
        <img src="../assets/img/catalogo055.png" width="40" height="40">
        <span style="color:yellow">Catalogo</span>
      </ion-tab-button>
      <ion-tab-button class="col_home" tab="puntos">
        <img src="../assets/img/mispuntos01.png" width="40" height="40">
        Mis Puntos
      </ion-tab-button>
      <ion-tab-button class="col_home" tab="premios">
        <img src="../assets/img/mispremios066.png" width="40" height="40">
        Mis Premios
      </ion-tab-button>
    </div>

    <div class="contenedor">
      <div class="contenedor-filtro">
        <div class="contenedor-selector">
          <ion-label class="subtitulo">Filtrar por:</ion-label>
          <select [(ngModel)]="opcion" class="selector" (change)="showLoading3()">
            <option value="menor">Puntos: más bajo</option>
            <option value="mayor">Puntos: más alto</option>
            <option value="ascendente">A a Z</option>
            <option value="descendente">Z a A</option>
          </select>
        </div>
      </div>
      <div class="colProds">
        <div class="contener-producto" *ngFor="let premio of premios" (click)=detalle(premio.img,premio.nombre,premio.descripcion,premio.puntos,premio.cantidad)>
          <div class="available div-producto" *ngIf="premio.cantidad <= 0">Agotado</div>
          <div class="div-producto">
            <div class="contener-columna">
              <div class="nombre">
                <h6 class="nombre-producto" name="nombre">{{premio.nombre}}</h6>
              </div>
              <div class="precio">
                <img class="puntos" src="../assets/img/puntos.png" width="25" height="25">
                <h4 name="precio"> {{premio.puntos}}</h4>
              </div>
            </div>

            <div class="contener-columnaI">
              <div class="producto">
                <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{premio.img}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>