<style>

</style>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="datos($event,'')">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <div class="contenedor-page">
        <div class="titulo_atras">
            <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
        </div>
      <ion-label class="titulo">Escoja el producto que va a regalar</ion-label>

        <div class="contenedor">
            <div class="contenedor-searchbar">
                <ion-input placeholder="    ¿Qué necesitas?" [(ngModel)]="textInput"></ion-input>
                <img src="../assets/img/buscar.png" class="icono" (click)="showLoading2()">
            </div>

            <div class="contenedor-filtro">
                <div class="contenedor-selector">
                    <ion-label class="subtitulo">Filtrar por:</ion-label>
                    <select [(ngModel)]="opcion" class="selector" (change)="showLoading3()">
                        <option value="vendidos">Más vendidos</option>
                        <option value="menor">Precio: más bajo</option>
                        <option value="mayor">Precio: más alto</option>
                        <option value="ascendente">A a Z</option>
                        <option value="descendente">Z a A</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="contener-producto" *ngFor="let productos of producto">
                    <div class="available div-producto" *ngIf="productos.suma==null || productos.suma <= 0">Agotado</div>
                    <div class="div-producto" (onload)="cargarNum(productos.nombre)">
                        <div class="contener-columnaI">
                            <div class="producto">
                                <img name="imagen" src="http://cabutoshop.pythonanywhere.com{{productos.imagen}}">
                            </div>
                            <h6 class="detalle"
                                (click)=detalle(productos.imagen,productos.nombre,productos.descripcion,productos.precio)>
                                Ver detalle</h6>
                        </div>
                        <div class="contener-columna">
                            <div class="nombre">
                                <h6 class="nombre-producto" name="nombre">{{productos.nombre}}</h6>
                            </div>
                            <div class="producto-carrito">
                                <img src="../assets/img/restar.png" width="10" height="3" class="btn-producto"
                                id="menos" (click)=quitar(productos.id_unico)>
                                <div id="{{productos.id_unico}}" class="cantidad estilo-cantidad">1</div>
                                <img src="../assets/img/agregar.png" width="10" height="10" class="btn-producto"
                                id="mas" (click)=agregar(productos.id_unico,productos.suma)>
                            </div>
                        </div>
                        <div class="contener-columna-centrar">
                            <div class="precio">
                                <h4 name="precio">${{productos.precio}} AQUI</h4>
                            </div>
                            <div class="favorito">
                                
                            </div>
                            <div class="carrito">
                                <img src="../assets/img/carrito_activo.png" height="23"
                                    (click)=carrito(productos.id_unico)>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="cargandoSiguientes($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots" 
      loadingText = "Cargando...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
