ion-header{
    height: 10px;
    width: 100%;
}

*{
    font-family: 'MyriadProSemibold' !important;
}

.titulo{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
    font-size: 1.7rem;
}


.icono{
    position: relative;
    right: 10px;
    width: 20px;
    height: 20px;
}

ion-toolbar{
    --background: linear-gradient(to left,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro));
}


.contenedor-searchbar{
    display: flex;
    align-items: center;
    background: var(--ion-color-gris-claro);
    color: var(--ion-color-gris-oscuro);
    border-radius: 5px;  
    height: 40px; 
    width: 100%;
    font-size: 1rem;
}

.contenedor{
    padding: 20px 0px;
}

ion-input{
    font-weight: bold;
}

.contenedor-page{
    padding: 20px 30px;
}

.contenedor-filtro{
    padding: 20px 0px 40px 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}

.selector{
    font-family: var(--ion-font-family);
    font-weight: bold;
    font-size: medium;
    color: var(--ion-color-azul-oscuro);
    background: var(--ion-color-gris-claro);
    padding: 5px 20px 5px 20px;
    border-radius: 5px;  
    vertical-align: middle;
    height: 40px;
    font-size: 1rem;
    width: 60%;

}

.contenedor-selector{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.subtitulo{
    color: var(--ion-color-gris-oscuro);
    font-weight: lighter;
    padding: 10px 0px 0px 10px;
    font-size: 0.8rem!important;
    padding-right: 5px;
    vertical-align: middle;
}

.div-producto{
    display: flex;
     flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-around; 
vertical-align: middle;
box-shadow: 5px 5px 5px 5px #c2c2c2;
    border-radius: 20px;
    height: 130px;


}
.producto-carrito{
    position: absolute;
    left: 12rem;
    display: -webkit-inline-box;
}

.btn-producto{
vertical-align: middle;

}

#mas{
    margin-left:  12px;
}
#menos{
    margin-right:  12px;
}

.estilo-cantidad{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    border: solid 1px gray;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    line-height: 1.2rem;
}
.contener-producto{
    padding:20px 0px;
}

.contener-columna{
    display: block;
}

.nombre-producto{
     font-family: var(--ion-font-family);
    font-weight: bold;
    color: var(--ion-color-azul-oscuro);
    font-size: 14px;
    position: relative;
    top:20px;
    right: 10px;
}

.producto{
    position: relative;
    bottom: 20px;
    height: 5rem;
    width: 8rem;
}

.producto >img {
    height:120px!important ;
    width: 150px!important;
    padding-bottom: 5px;
}

.detalle{
    position: relative;
    bottom: 0px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    color: #2153FF;
}

.nombre{
    width: 150px;
    height: 80px;
    padding-left: 25px;
    font-size: 1rem;
    padding-top: 0px;
}

.nombre h6{
    padding-top: 0px;
}


.precio{
    color: var(--ion-color-naranja-oscuro);
    font-weight: bolder;
    position: relative;
    padding-left: 0px;
    padding-right: 30px;
    text-align: right;
    
}

div.precio h4{
    position: relative;
    padding-left: 0px;
    text-align: right;
    font-size: 1rem;
}

div.carrito img{
    position: absolute;
    top: 95px;
    right: 2rem;
}

.available.div-producto {
    position: absolute;
    box-shadow: none;
    z-index: 1;
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
}

.centrar{
    width: 70px;
}

.contener-columna-centrar{
    float: right;
    position: relative;
    width: 30%;
    padding: 0px 0px 0px 0px;
    text-align: right;
    justify-content: flex-end;
}

.contener-columnaI{
    float: right;
    position: relative;
    padding-left: 0px;
    text-align: right;
    justify-content: flex-end;
}
.carrito{
    padding-left: 0px;
    padding-right: 30px;
}

.atras{
    height: 25px;
}