*{
    font-family: 'MyriadProSemibold' !important;
  }
  .contenedor-page{
    padding: 20px 30px;
}

.titulo_atras{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.atras{
  height: 25px;
}

  .contenedor-titulo{
    
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: baseline;
    .titulo{
        color: var(--ion-color-azul-oscuro);
        font-size: larger;
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
}
  
  ion-toolbar{
    --background: var(--ion-color-naranja-oscuro);
  }

  ion-label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
  
ion-item{
  margin: 5px 0px 16px 0px;
  --background: #e7e7e7;
  --color: rgb(112, 106, 106);
  font-size: 1rem;
  border-radius: 10px;
  width:100%;
  --highlight-height: 0px !important;
  ion-input{
      color: var(--ion-color-azul-oscuro);
      margin-left:10px;
  }
}
  
  
  ion-button{
      --background: var(--ion-color-naranja-oscuro);
      font-size: 0.8rem;
  }
  
  .form{
    padding:5px 0px;
  }
  
  .contenedor{
      width: auto;
  }
  .container{
      width: 100%;
  }
  
  .col_back{
      text-align: center;
  }
    
  .col_title{
      text-align: left;
  }

    .perfil{
      text-align: center;
    }
  
    .select-profile-picture{
      text-align: left;
      font-size: 12px;
      margin: 0 auto;
    }
  
    .hoverable > img {
      height: inherit;
      width: inherit;
      padding: 0%;
      border-radius: 50%;
    }
    .hoverable{
      display: inline-block;
      cursor: pointer;
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      margin: 0 auto;
      padding-bottom: 25px;
    }
    #editar{
      z-index: 10;
      border-radius: 0px;
      position: absolute;
      height: 8.3rem;
      margin: -2px;
      width: 8.3rem;
    }
    
    #fileInput{
      display: none;
      height: 20%;
      padding-top: 0px; 
    }

  .delete{
    justify-content: left;
      align-content: left;
      align-items: left;
      text-align: start;
  }
  #button {
    line-height: 12px;
    width: 30px;
    height: 30px;
    font-size: 20pt;
    margin-top: 1px;
    margin-right: 95px;
    position:absolute;
    top: 3rem;
    right: 0;
    border:none!important;
    border-radius: 20px;
    background-color: transparent;
    text-align:start!important;
  }
  
  .button-content{
    display: flex;
    justify-content: center;
  }
  ion-footer{
    margin: 0 auto!important;
  }
  .btn-registro{
    width:55%;
    line-height: 0px;
  }
  .registro{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }