ion-header{
    height: 10px;
    width: 100%;
}

*{
    font-family: 'MyriadProSemibold' !important;
}

.contenedor-titulo{
    
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: baseline;
    .titulo{
        color: var(--ion-color-azul-oscuro);
        font-size: larger;
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
}
.contenedor-page{
    padding: 2rem 1rem 1rem 1rem;
}
.contenido{
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-line;
}