
<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
    </div>
    <div class="contenedor-titulo">
      <ion-label class="titulo">Inserte el monto a regalar a </ion-label>
    </div>
    
    <form #form="ngForm" (ngSubmit)="aceptar(form)">
      <div class="form">
        <ion-label>Monto</ion-label>
        <ion-item>
          <ion-input id="1" name="monto" type="number" step=0.01 [(ngModel)]="monto" required></ion-input>
        </ion-item>
      </div>
      <div class="button-content">
        <ion-button class="btn-registro" size="large" type="submit">
          <p class="registro">Aceptar</p>
        </ion-button>
      </div>
    </form>
    
  </div>
</ion-content> 