
<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
    </div>
    <div class="contenedor-titulo">
      <ion-label class="titulo">Escoja el tipo de regalo para {{receptor}}:</ion-label>
    </div>
    <br>
    <div class="button-content">
      <ion-button class="btn-registro" size="large" (click)="monto()">
        <p class="registro">Tarjeta de regalo descuento</p>
      </ion-button>
    </div>
    <br>
    <div class="button-content">
      <ion-button class="btn-registro" size="large" (click)="producto()">
        <p class="registro">Tarjeta de regalo producto</p>
      </ion-button>
    </div>
    
  </div>
</ion-content> 