<ion-content id="all" padding text-center style="text-align: center !important;">
  <div class="fondo">
    <div>
      <div class = "btn-salir"><img src="../assets/img/salir.png" (click)=salir()></div>
    </div>
    <div class="img-cabu">
      <img src="../../assets/img/logo.png" height="38" >
    </div>
    <div>
      <label class="hoverable perfil" for="fileInput">
        <img class="logop" [src]="url ? url : '../../assets/img/logo_cod.png'"> 
      </label>
      <img class="compartir" src="../../assets/img/compartir.png" (click)="compartir(mensaje)">
    </div>
    <ion-label class = "titulo">{{titulo}}</ion-label>
    <p class="codigo" id="codigo"> CÓDIGO DE USUARIO: {{mensaje}}</p>
    <div class="espacio"></div>
  </div>
</ion-content>