
<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
        <ion-label class="titulo">Pagar</ion-label>
    </div>
    <div class="total" >
      <ion-label class="A_pagar_header">Total a Pagar:</ion-label>
      <div style="display: flex;">
        <ion-label style="color:#FE3A00;font-size: x-large;padding-left: 10px; margin-top: 0">$</ion-label>
        <div class="A_pagar" id="A_pagar" *ngIf="total">{{total}}</div>
      </div>
    </div>
    
    <div class="datos">Recoger pedido</div>
    <div class="contener-direccion" *ngFor="let direccion of locales" >
      <div class="div-establecimiento" (click)="confirmar(direccion.id_establecimiento)">
        <div class="contener-columnaI">
          <img src="../assets/img/locales.png">
        </div>
        <div class="contener-columna">
          <h6 class="nombre-establecimiento">{{direccion.nombre}}</h6>
          <p class="direccion-establecimiento">{{direccion.direccion}}</p>
          <div class="telefono-establecimiento">
            <img src="../assets/img/telefonos1.png" width="10px" height="10px">
            <p>{{direccion.telefono}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</ion-content>
