*{
    font-family: 'MyriadProSemibold' !important;
}
.contenedor-page{
    padding: 20px 30px;
}
.titulo{
    font-weight: bold;
    font-size: larger;
    color: var(--ion-color-azul-oscuro);
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
}
.A_pagar_header{
    color: #2b85cd;
    text-align: right;
    font-size: 70%;
    font-style: italic;
}
.A_pagar{
    color:#FE3A00;
    font-size: x-large;
    text-align: left;
}
.total{
    border-bottom: 1px solid var(--ion-color-azul-oscuro);
    margin-top: 2px;
    padding-bottom: 15px;
    box-shadow: 0 4px 6px -6px #c2c2c2;
}
.datos{
    color: #FE3A00;
    font-size: smaller;
    padding-left: 10px;
    margin: 20px 0px;
    font-weight: lighter;
    font-style:italic;
}


ion-button{
    --background: var(--ion-color-naranja-oscuro);
    font-size: 0.6rem;
    --border-radius:5px
}

.button-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.btn-registro{
    width: 60%;
    line-height: 5px;
}
.registro{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo_atras{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.atras{
    height: 25px;
}

.mapa{
    height: 40vh;
    margin:auto;
}

.botones{
    display: flex;
    justify-content: flex-end;
    bottom: 5%;
    left: 0%;
    align-items: center;
    position: relative;
    width: 100%;
}

.btn-registro{
    --background: var(--ion-color-naranja-oscuro);
}

ion-item{
    margin: 15px 0px 17px 0px;
    --background: #e7e7e7;
    --color: rgb(112, 106, 106);
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
    --highlight-height: 0px !important;
    ion-input{
        color: var(--ion-color-azul-oscuro);
        margin-left:10px;
    }
    ion-textarea{
        color: var(--ion-color-azul-oscuro);
        margin-left:10px;
        height: 150px;
    }
}