
<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src="../assets/img/atras_naranja.png" size=12 (click)="atras()">
        <ion-label class="titulo">Pagar</ion-label>
    </div>
    <div class="total" >
      <ion-label class="A_pagar_header">Total a Pagar:</ion-label>
      <div style="display: flex;">
        <ion-label style="color:#FE3A00;font-size: x-large;padding-left: 10px; margin-top: 0">$</ion-label>
        <div class="A_pagar" id="A_pagar" *ngIf="total">{{total}}</div>
      </div>
    </div>
    
    
    <div class="button-content">
      <div class="datos">A Domicilio</div>
      <ion-button class="btn-registro" (click)=domicilio()>
        <p class="registro">DIRECCIONES GUARDADAS</p>
      </ion-button>
    </div>
    <div #mapaUbicacion class="mapa">

    </div>

    <form #form="ngForm" (ngSubmit)="guardar(form)">
      <ion-item >
        <ion-input id="1" name="direccion" type="text" placeholder="Dirección" [(ngModel)]="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea name="descripcion" type="text" placeholder="Descripción" ngModel  rows="5" required></ion-textarea>
      </ion-item>
    <div class="button-content botones">

      <ion-button class="btn-registro" type=submit>
        <p class="registro">Continuar</p>
      </ion-button>
    </div>
    </form>
  </div>  
</ion-content>
