<ion-content>
  <div class="contenedor-page">
    <div class="titulo_atras">
      <img class="atras" src={{butAtras}} size=12 (click)="atras()">
        <ion-label class="titulo">Pagar</ion-label>
    </div>
    <div class="total" >
      <ion-label class="A_pagar_header">Total a Pagar:</ion-label>
      <div style="display: flex;">
        <ion-label style="color:{{colorBack}};font-size: x-large;padding-left: 10px; margin-top: 0">$</ion-label>
        <div class="A_pagar" id="A_pagar" *ngIf="total"> <span style="color:{{colorBack}}">{{total}}</span></div>
      </div>
    </div>
    
    <div class="datos"><span style="color:{{colorBack}}">Opción de entrega</span></div>
    <div class="button-content">
      <ion-button class="btn-registro" (click)=domicilio() style="--background:{{colorBack}};">
        <p class="registro">A DOMICILIO</p>
      </ion-button>
    </div>
    <div class="button-content">
      <ion-button class="btn-registro" (click)=recoger() style="--background:{{colorBack}};">
        <p class="registro">RECOGER PEDIDO</p>
      </ion-button>
    </div>
  </div>  
</ion-content>
