<ion-content padding text-center style="text-align: center !important;">
  <div class="btn-salir"><img src="../assets/img/salir.png" (click)=dismiss()></div>
  <div class="imagen"><img src="http://cabutoshop.pythonanywhere.com/media/{{imagen}}"></div>
  <div class="nombre">{{nombre}}</div>
  <div class="precio">${{precio}}</div>
  <div class="contener-columna">
    <div class="producto-carrito">
      <img src="../assets/img/restar.png" width="10" height="3" class="btn-producto" id="menos"
        (click)=quitar(nombre)>
      <div id="{{nombre}}" class="cantidad estilo-cantidad">0</div>
      <img src="../assets/img/agregar.png" width="10" height="10" class="btn-producto" id="mas"
        (click)=agregar(nombre)>
    </div>
    <div class="carrito">
      <img src="../assets/img/carrito_activo.png" width="25" height="25" (click)=carrito(nombre)>
    </div>

  </div>

</ion-content>