.btn-salir img{
    height: 0.6rem;
    width: 0.6rem;
}


.btn-salir{
    text-align: right !important;
    padding: 20px 20px 10px 10px;
}

.imagen img{
    height: 6rem;
}

.nombre{
    padding-top: 10px;
    color:#0F195E !important;
}

.descripcion{
    padding: 10px 20px;
    color:#87868A !important;
}


.precio{
    text-align: right !important;
    color:#FE3A00 !important;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-evenly;

}

.punto{
    text-align: right !important;
    color:#FE3A00 !important;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-evenly;

}

button{
    font-size: 1.1rem;
    padding: 0 10px;
    height: 1.7rem;
    width: 4.5rem;
    background: var(--ion-color-naranja-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color:white;
}
