<ion-buttons slot="end">
  <ion-button (click)="dismiss()">
    <ion-icon slot="icon-only" name="close" style="color: gray;"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-label class="titulo">Calificar pedido</ion-label>
<ion-content>
  <div class="contenedor-page">
    <div class="contenedor">
      <div class="estrellas">
        <ion-icon color="primary" *ngFor="let item of list;let i = index" [name]="condition <= i? 'star-outline' :'star' "
       (click)="review(i)">
        </ion-icon>
      </div>
      <ion-item>
        <ion-textarea name="descripcion" type="text" placeholder="Justificación (Opcional)" rows=4 [(ngModel)]="justificacion"></ion-textarea>
      </ion-item>
      <ion-button class="btn-registro" size="large" (click)=enviar()>
        <p class="registro">Calificar</p>
      </ion-button>
    </div>
  </div>
</ion-content>

