*{
    font-family: 'MyriadProSemibold' !important;
}
ion-header{
    --background: linear-gradient(to left top,var(--ion-color-naranja-oscuro),var(--ion-color-naranja-claro)) !important;
}
.atras{
    position: relative;
    margin-top: 5%;
    left: 1%;
    height: 30px;
}