<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="iniciar($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <div class="contenedor-page" *ngIf=categorias >
    <div class="contenedor-searchbar">
      <ion-input placeholder="    ¿Qué necesitas?" [(ngModel)]="textInput"></ion-input>
      <img src="../assets/img/buscar.png" class="icono" (click)="buscar()">
    </div>
    <div class="contenedor-publicidad">
      <img src="../assets/img/publicidad-ej1.jpg" >
    </div>
    <div class="contenedor-titulo" *ngIf="categorias.length >0">
      <ion-label class="titulo">Categorías</ion-label>
      <a class="todos" (click)="categoriasPage()">Ver todo</a>
    </div>
    <div class="contenedor contenedor-c" *ngIf="categorias.length >0">
      <div class="contener-categoria" *ngFor="let categoria of categorias">
        <div class="div-categoria" (click)="mostrar(categoria.nombre)">
          <img class="categoria-imagen" name="imagen" src="http://cabutoshop.pythonanywhere.com/media/{{categoria.image}}">
          <h6 class="nombre-producto" name="nombre">{{categoria.nombre}}</h6>
        </div>
      </div>
    </div>
    <div class="contenedor-titulo" *ngIf="producto.length >0">
      <ion-label class="titulo">Productos</ion-label>
      <a class="todos" (click)="productosPage()">Ver todo</a>
    </div>
    <div class="contenedor contenedor-p" *ngIf="producto.length >0">
      <div class="contener-producto" *ngFor="let productos of producto">
        <div class="div-producto" (click)="detalle('Producto',productos.nombre,productos.image,productos.precio,productos.suma)">
          <div class="producto">
            <img name="imagen" src="http://cabutoshop.pythonanywhere.com/media/{{productos.image}}">
          </div>
          <div class="nombre">
            <h6 class="nombre-producto" name="nombre">{{productos.nombre}}</h6>
          </div>
          <div class="precio">
            <h4 name="precio">${{productos.precio| number : '1.2-2'}}</h4>
          </div>
        </div>
      </div>

    </div>
    <div class="contenedor-titulo" *ngIf="ofertas.length >0">
      <ion-label class="titulo">Ofertas</ion-label>
      <a class="todos" (click)="ofertasPage()">Ver todo</a>
    </div>
    <div class="contenedor contenedor-p" *ngIf="ofertas.length >0">
      <div class="contener-producto" *ngFor="let oferta of ofertas">
        <div class="div-producto"(click)="detalle('Oferta',oferta.nombre,oferta.image,oferta.precio,oferta.cantidad)">
          <div class="oferta">
            <img name="imagen" src="http://cabutoshop.pythonanywhere.com/media/{{oferta.image}}">
          </div>
          <div class="nombre">
            <h6 class="nombre-producto" name="nombre">{{oferta.nombre}}</h6>
          </div>
          <div class="precio">
            <h4 name="precio">${{oferta.precio| number : '1.2-2'}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-publicidad">
      <img src="../assets/img/publicidad-ej1.jpg" >
    </div>
  </div>
</ion-content>